<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ВЛГУ</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="../../Content/embl.png" type="image/png">
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-info">
            <div class="container">

                @Html.ActionLink("ВЛГУ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <a href="http://172.19.2.63:8111/">  <img src="../../Content/vedi.png" width="15" /></a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Переключить навигацию" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("user"))
                        {
                            <li>@Html.ActionLink("Главная", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Мой сайт", "MySite", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Задания", "Tasks", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                        @if (User.IsInRole("admin"))
                        {
                            <li>@Html.ActionLink("Список всех сайтов", "Catalog", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Список баз данных и репозиториев", "DB", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Пользователи", "ListUsers", "Manage", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year  – Владимирский Государственный Университет</p>
            </footer>
        </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
