@model IEnumerable<ServerContainer.Models.FileModel>


<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
            Имя пользователя
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Reference)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Reference)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @*@if (item.Status != "Запущено")
            {
                if (item.Status != "Собрано")
                {

                @Html.ActionLink("Собрать", "Build", new { name = item.Name })
                }
                else
                {

            @Html.ActionLink("Запустить", "Run", new { name = item.Name })
                    }
                }
                else
                {
                    @Html.ActionLink("Остановить", "Stop", new { Name = item.Name })
                }*@

        </td>
    </tr>
}

</table>
